.linda{
    background-color: pink;
}
table{
    background-color: yellow;
}
.amina{
    background-color: brown;
}
#tobi{
    background-color: blueviolet;

}
.nav {
    background-color: black;
    color: white; 
    position: fixed;
}
.nav a{
    background-color: black;
    color: white;}